.cont {
  background-color: #eee;
  padding: 10px 0;
}

.card {
  width: 70%;
  min-width: 320px;
  margin: auto;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 15px;
  box-shadow: 5px 5px rgba(0, 54, 98, 0.4), 10px 10px rgba(0, 54, 98, 0.3), 15px 15px rgba(0, 54, 98, 0.2), 20px 20px rgba(0, 54, 98, 0.1), 25px 25px rgba(0, 98, 90, 0.05);
  border: solid 2px rgba(0, 54, 98, 1);
}

.mb {
  margin-bottom: 0;
}
.mt {
  margin-top: 0;
}
.date {
  font-size: 14px;
}
.row__more {
  color: #1da1f2;
  cursor: pointer;
  display: flex;
  border-bottom: solid 3px white;
  width: 130px;
  margin: auto;
  transition: 0.3s;
}
.row__more:hover {
  border-bottom-color: #1da1f2;
}

.row__svg {
  fill: #1da1f2;
}

.badge__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: solid 1px #7f99aa;
  padding-bottom: 10px;
}
.badge {
  background-color: #1da1f2;
  color: white;
  padding: 5px;
  margin: 2px;
  margin-right: 10px;
  border-radius: 7px;
}
